body {
  background-color: black
}

.chessboard-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 400px;
  margin: 200px 0 0 400px;
  width: 400px;
}

.brown {
  background-color: #FFD191;
  height: 50px;
  width: 50px;
}

.biege {
  background-color: #A36105;
  height: 50px;
  width: 50px;
}
