body {
  background-color: black
}

.chessboard-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 96vw;
}

.brown {
  background-color: #FFD191;
  flex: 1;
  height: 12vw;
  min-width: 12vw;
}

.biege {
  background-color: #A36105;
  flex: 1;
  height: 12vw;
  min-width: 12vw;
}

