body {
  border: 10px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height:400px;
  width: 800px;

}

.left-col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.one {
  border: none;
  border-bottom: 4px solid black;
  flex: 1;
}

.two {
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  flex: 2;
}

.three {
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  flex: 3;
}

.four {
  border-right: 4px solid black;
  background-color: yellow;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  flex: 3;
}

.five {
  flex: 1;
}

.second-col {
  border-right: 4px solid black;
  display: flex;
  flex-direction: column;
  flex: 4;
}

.six {
  border: none;
  border-left: 4px solid black;
  height: 50%;
  margin-left: 20px;
}

.seven {
  border-top: 4px solid black;
  background-color: red;
  border-bottom: 4px solid black;
  height: 150%;
}

.wrapped-col-one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.eight {
  background-color: black;
  height: 95px;
  width: 50%;
}

.nine {
  border-bottom: 4px solid black;
  height: 150px;
  width: 50%;
}

.ten {
  height: 150px;
  width: 50%;
}

.eleven {
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  height: 120px;
  width: 50%;
}

.twelve {
  background-color: black;
  border-bottom: 4px solid black;
  height: 80px;
  margin-top: 50px;
  width: 50%;
}

.row2 {
  display: flex;
  flex-direction: row;
}

.thirteen {
  margin-top: 50px;
  height: 20px;
  width: 120px;
}

.fourteen {
  background-color: yellow;
  border-left: 4px solid black;
  border-right: 4px solid black;
  height: 70px;
  width: 27%;
}

.fifteen {
  width: 23%;
}

.row3 {
  display: flex;
  flex-direction: row;
}

.col-inside-row {
  display: flex;
  flex-direction: column;
}

.third-col {
  border-right: 4px solid black;
  display: flex;
  flex-direction: column;
  flex: 2;
}

.sixteen {
  background-color: yellow;
  border-bottom: 4px solid black;
  height: 9.5%;
}

.seventeen {
  background-color: yellow;
  border-bottom: 4px solid black;
  height: 15%;
}

.row4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.eightteen {
  border-right: 4px solid black;
  flex: 1
  height: 77px;
  margin: 0 0 0 35px;
}

.nineteen {
  flex: 1;
  height: 77px;
}

.twenty {
  border-top:4px solid black;
  border-bottom: 4px solid black;
  height: 9.5%;
}

.twentyone {
  background-color: blue;
  border-bottom: 4px solid black;
  flex: 1;
}

.twentytwo {
  background-color: red;
  flex: 1;
}

.fourth-col {
  border-right: 4px solid black;
  display: flex;
  flex-direction: column;
  flex: 2;
}

.twentythree {
  background-color: blue;
  border-bottom: 4px solid black;
  height: 17.25%;
}

.twentyfour {
  background-color: red;
  border-bottom: 4px solid black;
  height: 18%;
}

.twentyfive {
  border-bottom: 4px solid black;
  height: 9.5%;
}

.twentysix {
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  flex: 1;
  height: 77px;
}

.twentyseven {
  border-bottom: 4px solid black;
  flex: 1;
  height: 77px;
}

.row5 {
  display: flex;
  flex-direction: row;
}

.twentyeight {
  background-color: yellow;
  border-bottom: 4px solid black;
  flex:1;
}

.twentynine {
  border-right: 4px solid black;
  flex: 1;
  height: 35px;
}

.thirty {
  background-color: black;
  flex: 1;
  height: 35px;
}

.row6 {
  display: flex;
  flex-direction: row;
}

.fifth-col {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.row7 {
  display:flex;
  flex-direction: row;
}

.thirtyone {
  background-color: yellow;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  height: 53px;
  width: 18%;
}

.thirtytwo {
  background-color: black;
  border-right: 4px solid black;
  height: 53px;
  width: 18%;
}

.thirtythree {
  border-bottom: 4px solid black;
  flex: 2;
}

.row8 {
  display: flex;
  flex-direction: row;
}

.thirtyfour {
  background-color: yellow;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  height:47px;
  width: 100px;

}

.thirtyfive {
  background-color: black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  height: 47px;
  width: 100px;
}



.thirtyseven {
  border-bottom: 4px solid black;
  height:47px;
  width: 100px;
}

.thirtyeight {
  border-bottom: 4px solid black;
  height:47px;
  width: 100px;
}

.thirtynine {
  background-color: black;
  border-bottom: 4px solid black;
  flex: 1;
}

.row9 {
  display: flex;
  flex-direction: row;
}

.forty {
  background-color: blue;
  border-bottom: 4px solid black;
  height: 225px;
}

.fortyone {
  border-right: 4px solid black;
  height: 51px;
  margin-right: 20px;
}

.sixth-col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.fortytwo {
  border-bottom: 4px solid black;
  flex: 1;
}

.fortythree {
  background-color: yellow;
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  flex: 2;
}

.fortyfour {
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  flex: 3;
}

.fortyfive {
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  flex: 3;
}

.fortysix {
  flex: 1;
}

